body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header img {
    height: 45px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.header {
    background-image: url(../img/Fundo4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
    color: white;
    /* height: 100px; */
    overflow: auto;
    border-bottom: 3px solid black;
    padding-top: 30px;
    padding-bottom: 25px;
    /*padding: 30px 0 30px 0; */
}

.container {
   width: 80%; 
   margin: auto;
}

.navbar {
    list-style: none;
    float: right;

}

.titulo {
    margin: 0;
    float: left;

}

.titulo a{
    text-decoration: none;
    color: white;

}


.navbar li a{
    text-decoration: none;
}

.navbar li {
    float: left;
    margin-left: 10px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #fd2ff7 0%, #9efdfc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar li:hover{
    background-color: #fd2ff7;
    transition: 0.75;
    border-radius: 20px;
}

.navbar li:active{
    position: relative;
    top:5px;
    display: inline-block;
    transition: 7;
        
}

.destaque1 {
    background: linear-gradient(to right, #fd2ff7 0%, #9efdfc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.destaque {
    color: purple;
}

/* .banner { */
    /* text-align: center; */
    /* background-color: orangered; */
    /* background-image: url(../img/wallpaperbetter.com_1366x768.jpg); */
    /* background-repeat: no-repeat; */
    /* height: 300px; */
    /* background-size: cover; */
/* } */

.banner {
    text-align: center;
     background: linear-gradient(90deg, rgba(255,0,161,1) 0%, rgba(255,44,86,1) 50%, rgba(255,92,50,1) 100%);
    background-image: url(../img/Fundo4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 150vh;
}

/* .banner h1{ */
    /* margin: 0; */
    /* font-size: 50px; */
    /* padding-top: 150px; */
    /* text-transform: uppercase; */
    /* background: linear-gradient(to right, #fd2ff7 0%, #9efdfc 100%); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
/* } */

/* .banner h3 { */
    /* padding-top: 100px; */
    /* color: white; */
/* } */

.caixa-login1{
    margin-top: 150px;
    background-color: white;
    float: left;
    overflow: auto;
    width: 100%;
    border-radius: 15px;
}

.caixa-login1 div{
    background-image: url(../img/luagif.gif);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-color: transparent;
    float: left;
    overflow: auto;
    width: 50%;
    height: 600px;
    /* height: 70vh; */


}

.caixa-login1 h1{
    margin: 0;
    padding-top: 55px;
    background: linear-gradient(to right, #00606d 0%, #f5c8e8    100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-weight: bolder; */
    text-transform: uppercase;
    font-size: 50px;
    
}

.caixa-login1 p{
    text-transform: uppercase;
}

.caixa-login1 input{
    text-align: center;
    width: 200px;
    height: 30px;
    border-radius: 20px;
       /* font-size: 20px; */
}

::placeholder{
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #00606d 0%, #f5c8e8    100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.caixa-login1 button{
    margin-top: 40px;
    width:300px;
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: #989ada;
    color: white;
    
}

.caixa-login1 button:hover{
    background-color: #f5c8e8;
}

.caixa-login1 h5{
    
}
.caixa-login1 a{
    
}

.footer{
    background-image: url(../img/Fundo4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
    color: white;
    overflow: auto;
    
}

.footer h4{
    text-align: center;
    text-decoration: none;

}

.footer a{
    text-decoration: none;
    background: linear-gradient(to right, #fd2ff7 0%, #9efdfc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}